@use 'src/styles' as global;

.login-container {
  height: 90%;
  display: flex;
  align-items: center;
}

.login-title {
  text-align: center;
}

.login-button {
  float: right;
  color: white;
  background: global.$events-gradient;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.login-form {
  vertical-align: center;
  margin: auto;
  width: 350px;
}
