.spacer {
  flex: 1 1 auto;
}

.events-title {
  color: white;
  font-weight: 500;
  font-size: 140%;
  margin-left: 10px;
}

a {
  text-decoration: none;
  font-size: 120%;
  white-space: normal;
  color: white !important;
  font-weight: 500;
  margin-left: 10px;
}

button {
  font-size: 120%;
  min-width: min-content;
  color: white !important;
  font-weight: 500;
  margin-left: 10px;
}
