<mat-toolbar class="gradient events-sunset">
  <a routerLink="/">
    <img
      width="40"
      height="40"
      alt="Events Logo"
      ngSrc="assets/events-logo.png"
    />
  </a>
  <span class="events-title">Events</span>
  <div class="spacer"></div>
  <div class="link-buttons">
    <a mat-button routerLink="/events">Events</a>
    <a mat-button routerLink="/users/register">Register</a>
    <a mat-button routerLink="/users/login">Login</a>
  </div>
</mat-toolbar>
