@use 'src/styles' as global;

.registration-container {
  height: 90%;
  display: flex;
  align-items: center;
}

p {
  font-weight: 500;
}

.create-button {
  float: right;
  color: white;
  background: global.$events-gradient;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.registration-title {
  text-align: center;
}

@media only screen and (min-width: 1500px) {
  .registration {
    width: 40%;
  }
}

.register-info {
  margin: auto;
}

mat-grid-tile {
  vertical-align: center;
  margin: auto;
}

