<mat-grid-list class="registration-container" [cols]="cols" [rowHeight]="rowHeight" (window:resize)="handleResize($event)">
  <mat-grid-tile>
    <div class="register-info">
      <h1>Why register for Events?</h1>
      <b>With an Events account you can</b>
      <mat-list>
        <mat-list-item>
          <mat-icon matListItemIcon>event</mat-icon>
          <div matListItemTitle><p>Create and manage your own events</p></div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListItemIcon>event_available</mat-icon>
          <div matListItemTitle><p>Request attendance to events organised by other people</p></div>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="registration">
      <h1 class="registration-title">Events Registration</h1>
      <form [formGroup]="registrationForm" (ngSubmit)="createAccount()">
        <p>
          <mat-form-field appearance="outline" style="margin-right: 10px">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" required>
            <mat-error *ngIf="registrationForm.controls['firstName'].invalid">{{getFirstNameErrorMessage()}}</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" required>
            <mat-error *ngIf="registrationForm.controls['lastName'].invalid">{{getLastNameErrorMessage()}}</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="events@example.com" formControlName="email" required>
            <mat-error *ngIf="registrationForm.controls['email'].invalid">{{getEmailErrorMessage()}}</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" required>
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="registrationForm.controls['password'].invalid">{{getPasswordErrorMessage()}}</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="confirmPassword" required>
            <mat-error *ngIf="registrationForm.controls['confirmPassword'].invalid">{{getConfirmPasswordErrorMessage()}}</mat-error>
          </mat-form-field>
        </p>
        <button class="create-button" mat-raised-button type="submit">Create Account</button>
      </form>
    </div>
  </mat-grid-tile>
</mat-grid-list>
