<footer>
  <mat-toolbar>
    <div class="footer-text">
      &copy; 2023 Zachary Kaye
    </div>
    <div class="spacer"></div>
    <div class="footer-text">
      <a href="https://angular.io/">
        Made with Angular
        <img
          width="16"
          height="18"
          alt="Angular Logo"
          ngSrc="assets/angular.ico"
        />
      </a>
    </div>
  </mat-toolbar>
</footer>
