footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.footer-text {
  text-align: center;
  font-weight: 500;
  margin-left: 10px;
  margin-right: 10px;
}

a {
  text-decoration: none;
}

a:visited {
  all: unset;
}

img {
  vertical-align: bottom;
}

.spacer {
  flex: 1 1 auto;
}
