
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$events-frontend-angular-primary: mat.define-palette(mat.$grey-palette);
$events-frontend-angular-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$events-frontend-angular-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$events-frontend-angular-theme: mat.define-light-theme((
  color: (
    primary: $events-frontend-angular-primary,
    accent: $events-frontend-angular-accent,
    warn: $events-frontend-angular-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($events-frontend-angular-theme);

/* You can add global styles to this file, and also import other style files */
$events-gradient: linear-gradient(to right, #6f32be 0%, #ff4478 47%, #ffc04e 100%);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.gradient.events-sunset {
  background-image: $events-gradient;
}

h1 {
  font-size: 32px;
  background: $events-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

mat-error {
  color: #ff2825 !important;
}

mat-icon {
  color: black !important;
  background: $events-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 10px !important;
}

mat-form-field {
  width: 100%;
}

.mat-mdc-snack-bar-container {
  --mdc-snackbar-supporting-text-color: #ffffff;
  --mdc-snackbar-supporting-text-weight: 500;

  &.notification-success {
    --mat-snack-bar-button-color: #43a446;
    --mdc-snackbar-container-color: #43a446;
  }

  &.notification-warning {
    --mat-snack-bar-button-color: #ffc04e;
    --mdc-snackbar-container-color: #ffc04e;
  }

  &.notification-error {
    --mat-snack-bar-button-color: #ff2825;
    --mdc-snackbar-container-color: #ff2825;
  }
}
